<div class="row">
  <div class="col-md-4 col-md-offset-4"
    <form action="/auth/signup" method="POST">
      <div class="form-group">
        <label for="authEmail">Email</label>
        <input id="authEmail" class="form-control" type="email" name="email">
      </div>

      <div class="form-group">
        <label for="authName">Name</label>
        <input id="authName" class="form-control" type="text" name="name">
      </div>

      <div class="form-group">
        <label for="authPassword">Password</label>
        <input id="authPassword" class="form-control" type="password" name="password">
      </div>

      <div class="form-group">
        <label for="authPassword">Retype Password</label>
        <input id="confirmPassword" class="form-control" type="password" name="password2">
        <span id='message'></span>
      </div>

      <input class="btn btn-primary" type="submit">
    </form>
</div>
</div>
