<div id="footer">
  <div class="container-fluid">
    <p class="credit"> Jenna Badanowski <i class="fa fa-copyright" aria-hidden="true"></i> 2017        |<a href="https://github.com/jbadan/faceExpressAuth">    <i class="fa fa-github" aria-hidden="true"></i>    </a></p>
  </div>
</div>
