<h2>Images</h2>
<% images.forEach(function(image){ %>
	<% var imgUrl = cloudinary.url(image, {width: 250, height: 250}); %>
  <img id="inputImage" src="<%= imgUrl %>">
<% }) %>
<button onclick="processImage()">Render charts</button>



<div id="wrapper">
    <div id="jsonOutput">
        <textarea id="responseTextArea" class="UIInput"></textarea>
    </div>
    <div id="imageDiv">
        <img id="sourceImage" />
    </div>
</div>
