<div class="container" id="display">
	<div class="jumbotron" id="jumbotron">
		<h1 id="header">Check you out!</h1>
		<% if(images.length === 0){ %>
			<% var imgUrl = cloudinary.url(cloudId); %>
			<img class="img-responsive col-lg-offset-3 inputImage" src="<%= imgUrl %>">
		<% }else{ %>
			<% images.forEach(function(image){ %>
			<% var imgUrl = cloudinary.url(image); %>
			<img class="img-responsive col-lg-offset-3 inputImage" src="<%= imgUrl %>">
			<% }) %>
			<% } %>
			<br>
			<button class="btn btn-default btn-lg" id="renderCharts" onclick="processImage()">Show me the results!</button>
	</div>
		<div class="row imageCharts">
			<div class="col-md-12">
				<div id="imageBox">
					<% if(images.length === 0){ %>
						<% var imgUrl = cloudinary.url(cloudId); %>
						<img id="image" src="<%= imgUrl %>">
					<% }else{ %>
						<% images.forEach(function(image){ %>
						<% var imgUrl = cloudinary.url(image); %>
							<img id="image" src="<%= imgUrl %>">
						<% }) %>
					<% } %>
				</div>
			</div>
		</div>
		<div class="row imageCharts">
			<div class="col-md-12 text-center displayBox">
				<h3>Demographics</h3>
				<div id="otherData">
				</div>
			</div>
		</div>
		<div class="row imageCharts">
			<div class="col-md-6 displayBox">
				<h3>Emotions</h3>
				<div class="chart-container" id="emotionError">
						<canvas id="emotionChart"></canvas>
				</div>
			</div>
			<div class="col-md-6 displayBox">
				<h3>Hair Color</h3>
				<div class="chart-container" id="hairError">
					<canvas id="hairChart"></canvas>
				</div>
			</div>
		</div>
	<div class="row imageCharts">
		<div class="col-md-12 addMore">
				<br>
				<a href="/">Back</a>
		</div>
	</div>
</div>
