<form enctype="multipart/form-data" action="/" method="post">
	<input type="file" name="myFile">
	<input type="submit" class="btn btn-primary">
</form>

<h2>Images</h2>
<% images.forEach(function(image){ %>
	<% var imgUrl = cloudinary.url(image, {width: 250, height: 250}); %>
  <img id="inputImage" src="<%= imgUrl %>">
<% }) %>
<button onclick="processImage()">Render charts</button>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="emotionChart"></canvas>
</div>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="hairChart"></canvas>
</div>
