<div class="row">
  <div class="col-md-12 addMore">
    <h3> Woops! Something happened... </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12 addMore">
    <iframe src="https://giphy.com/embed/13ywPzPJdfhmBG" width="480" height="349" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12 addMore">
    <% if (currentUser) { %>
      <a href="/profile">Back</a>
    <% } else { %>
      <a href="/">Back</a>
    <% } %>
  </div>
</div>
