<h1> Theia </h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac massa ullamcorper, blandit justo ac, volutpat mi. Quisque imperdiet arcu eget ullamcorper cursus. Fusce non lacus velit. Sed dapibus nulla et lacinia scelerisque. Curabitur in felis sit amet mauris suscipit finibus. Nunc ut tincidunt orci.</p>

<form enctype="multipart/form-data" action="/" method="post">
	<input type="file" name="myFile">
	<input type="submit" class="btn btn-primary">
</form>
