<!-- <div class="form-group">
  <label>Upload Image</label>
  <div class="input-group">
    <span class="input-group-btn">
      <span class="btn btn-default btn-file">
          Browse… <input type="file" id="imgInp">
      </span>
    </span>
    <input type="text" class="form-control" readonly>
  </div>
  <img name="inputImage" id="inputImage"/>
  <button class="btn-group btn-group-lg" onclick="processImage()">Submit</button>
</div> -->

<form enctype="multipart/form-data" action="/" method="post">
	<input type="file" name="myFile">
	<input type="submit" class="btn btn-primary">
</form>
<h2>Images</h2>
<% images.forEach(function(image){ %>
	<% var imgUrl = cloudinary.url(image, {width: 250, height: 250}); %>
	<img id="inputImage" src="<%= imgUrl %>">
<% }) %>


<div id="wrapper">
    <div id="jsonOutput">
        <textarea id="responseTextArea" class="UIInput"></textarea>
    </div>
    <div id="imageDiv">
        <img id="sourceImage" />
    </div>
</div>
