<div class="container-fluid">
	<div class="row padding">
		<div class="col-md-8">
			<div id="header">
				<img class="animated slideInLeft" src="/img/aperture-xxl.png">
				<h1>Theia</h1>
		</div>
			<p id="about">It's as easy as creating an account and uploading an image. Theia will detect one or more human faces
				and provide data visualization for face attributes using machine learning-based predictions of facial features.
				See examples below for more information.
			</p>
			<i id="downArrow" class="fa fa-angle-double-down fa-4x" aria-hidden="true" onclick="window.location.hash='exampleRow';"></i>
		</div>
		<div class="col-md-4">
			<div class="try">
				<h3 id="animated" class="animated tada">Give it a try without signing in!</h3>
				<p>Upload your photo here to see Theia in action.</p>
				<%if(currentUser){%>
					<form enctype="multipart/form-data" action="/profile/" method="post">
	          <input type="file" name="myFile">
	          <input type="submit" class="btn btn-primary">
	        </form>
				<%}else{%>
				<form enctype="multipart/form-data" action="/" method="post">
					<input type="file" name="myFile">
					<input type="submit" class="btn btn-primary">
				</form>
			<%}%>
			</div>
		</div>
	</div>
	<div class="row padding exampleRow">
		<div class="col-offset-md-1 col-md-6 text-center">
			<img class="try inputImage imageBorder" src="/img/examples/saladImg.png">
			<div class="exampleDemo">
				<img class="demographics" src="/img/examples/saladDemo.png">
			</div>
		</div>
		<div class="col-md-6">
			<div id="myExampleCarousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#myExampleCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myExampleCarousel" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<div class="chart-container">
								 <img data-animation="animated bounceInDown" src="/img/examples/saladEmotions.png">
						</div>
					</div>
					<div class="item">
						<div class="chart-container">
								 <img data-animation="animated bounceInDown" src="/img/examples/saladHair.png">
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myExampleCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" style="color:#F2C777"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myExampleCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" style="color:#F2C777"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<div class="row padding exampleRowPink">
		<div class="col-offset-md-1 col-md-6 text-center">
			<img class="try inputImage" src="/img/examples/haroldImg.png">
		</div>
		<div class="col-md-6 charts">
			<img class="try inputImage" src="/img/examples/haroldEmotions.png">
		</div>
	</div>
	<div class="row padding exampleRow">
		<div class="col-offset-md-1 col-md-6 text-center">
			<img class="try inputImage imageBorder" src="/img/examples/womanImg.png">
		</div>
		<div class="col-md-6 charts">
			<img class="tryPink inputImage" src="/img/examples/womanEmotionsChart.png">
		</div>
	</div>
</div>
