<input type="text" name="inputImage" id="inputImage" value="https://upload.wikimedia.org/wikipedia/commons/c/c3/RH_Louise_Lillian_Gish.jpg" />
<button class="btn-group btn-group-lg" onclick="processImage()">Submit</button>
<br><br>
<div id="wrapper">
    <div id="jsonOutput">
        Response:
        <br><br>
        <textarea id="responseTextArea" class="UIInput"></textarea>
    </div>
    <div id="imageDiv">
        Source image:
        <br><br>
        <img id="sourceImage" />
    </div>
</div>
