*{
  margin: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../img/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Cardo';
    src: url(../img/Cardo-Regular.ttf);
}
/*Loading spinner*/
#loading_wrap{
  position:fixed;
  height:100%;
  width:100%;
  overflow:hidden;
  top:0;
  left:0;
  background: #F2C777;
}
/*http://tobiasahlin.com/spinkit/*/
.spinner {
  position: relative;
  top: 40%;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
body{
  font-family: 'Cardo';
  width: 100%;
  margin: 0%;
  background: #F24738;
}
h1, h2, h3{
  font-family: 'Montserrat';
  color: white;
  font-size: 8em;
  padding: 20px;
}
h2{
  font-size: 4em;
}
h3{
  font-size: 2em;
}
p{
  color: white;
  padding: 20px;
  padding-top: 40px;
  letter-spacing: 2px;
}
input[type=file] {
  margin: 0 auto;
  padding: 2px;
  color: white;
}
input[type=submit]{
  background: none;
  border: 1px solid #BF2A2A;
  margin: 5px;
  color: #BF2A2A;
}
input[type=submit]:hover{
  background: white;
  color: #BF2A2A;
}
.try{
  border: 8px double white;
  padding: 10px;
  margin: 2px;
  text-align: center;
}
.inputImage {
    margin: auto;
    display: inline-block;
    margin: 10px;
}

.chart-container img{
  animation-delay: 1s;
}
.credit a{
  text-decoration:none;
  color:white;
  padding: 20px;
}

.imageHolder{
  position:relative;
  display: inline-block;
  height: 300px;
  width: 300px;
}
.imageHolder button{
  position: absolute;
  top: 20px;
  right: 15px;
  border:none;
  background: #F2C777;
  color: white;
}

#downArrow{
  margin-left: 40%;
  color: white;
  cursor: pointer;
}
#header img, h1{
  display: inline;
}
#header h1{
  vertical-align: bottom;
}

#myCarousel{
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
#animated{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 8s;
  -webkit-animation-iteration-count: 1;
}
#exampleRow{
  background: #F2C777;
  margin-top: 20px;
}

.row{
  padding:40px 0;
}
.navbar{
  background: white;
}
.jumbotron{
  background: white;
  text-align: center;
}
#imageBox{
  min-width: 350px;
  max-width: 355px;
  border: 4px double white;
  display: table;
  margin: 0 auto;
  position: relative;
}
.imageCharts{
  align-items: center;
}

#hairError, #emotionError{
  text-align: center;
  font-size: 3em;
  color: #024959;
  height: 400px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators li {
    background: #F2C777;
}
.carousel-indicators .active {
    background: #666;
}

.chart-container{
  background: white;
  padding: 40px;
}
.center{
  text-align: center;
}
.addMore{
  text-align: center;
}
.addMore a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
