*{
  margin: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../img/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Cardo';
    src: url(../img/Cardo-Regular.ttf);
}
/*Loading spinner*/
#loading_wrap{
  position:fixed;
  height:100%;
  width:100%;
  overflow:hidden;
  top:0;
  left:0;
  background: #F2C777;
}
/*http://tobiasahlin.com/spinkit/*/
.spinner {
  position: relative;
  top: 40%;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
body{
  font-family: 'Cardo';
  width: 100%;
  margin: 0%;
  background: #F24738;
}
h1{
  font-family: 'Montserrat'
  color: #024959;
}
.navbar{
  background: white;
}
.jumbotron{
  background: white;
  text-align: center;
}

img {
    display: block;
    margin: auto;
}

#myCarousel{
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators li {
    background: #F2C777;
}
.carousel-indicators .active {
    background: #666;
}

.chart-container{
  background: white;
  padding: 40px;
}
