#wrapper{
  display: table;
}

#jsonOutput{
  width: 600px;
  display: table-cell;
}

#responseTextArea{
  width: 580px;
  height: 400px;
}

#imageDiv{
  width: 400px;
  display: table-cell;
}

#sourceImage{
  width: 400px;
}
